<aside class="book-sidebar">
  <!-- <a href="https://www.amazon.com/dp/1491969555"> -->
  <!--   <img src="/images/head_first_ruby_cover.png" width="245" height="229" alt="Head First Ruby Cover"/> -->
  <!-- </a> -->
  <p class="text">{{ site.description }}</p>
  <div class="banner">
    <div>
    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=jaymcgavren-20&marketplace=amazon&region=US&placement=1491969555&asins=1491969555&linkId=26ab4f2f096e46da47f64c9efb3a768d&show_border=true&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
    </iframe>
    </div>
  </div>
</aside>
